@font-face {
  font-family: Bebas-Neue;
  src: url("../fonts/BebasNeue-Regular.ttf");
}

body {
  background-color: #282828;
}

h3 {
  font-family: Bebas-Neue;
  color: #3500d3;
}

h4 {
  font-family: Bebas-Neue;
  color: #000;
}

.fquery {
  min-height: 20vh;
  position: relative;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr minmax(auto-fit, 1024px) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". engine .";
  overflow: auto;
  background-color: #282828;
}

form {
  height: 100%;
  grid-area: engine;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: minmax(auto-fit, 1fr);
  grid-auto-flow: row;
  align-items: center;
  justify-items: stretch;
}

form div {
  display: grid;
}

form div select,
form div input {
  justify-self: stretch;
}

.sql {
  display: grid;
  width: 100%;
  height: min-content;
  grid-auto-flow: column;
  grid-template-rows: auto;
  background-color: #fff;
  border-radius: 1rem;
}

.riga {
  display: grid;
  grid-auto-flow: row;
  height: min-content;
  grid-template-rows: repeat(5, 1fr);
}

.headings,
.cella {
  display: grid;
  padding: 0.5rem;
}

.headings h3,
.cella h4,
.icona {
  place-self: center;
}

.button {
  padding: 1rem;
  width: 100%;
  border-radius: 40px;
  font-size: large;
  font-weight: bolder;
  font-family: Bebas-Neue;
  background-color: #240090;
  color: #fff;
}

@media screen and (min-width: 900px) {
  form {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-gap: 1.5rem;
  }

  .send {
    align-self: last baseline;
    height: 2rem;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(900px, 1920px) 1fr;
    grid-template-areas: ". res .";
  }

  .sql {
    display: grid;
    grid-auto-flow: row;
    grid-area: res;
  }

  .riga {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }
}
