@font-face {
  font-family: Bebas-Neue;
  src: url('../fonts/BebasNeue-Regular.ttf');
}

body{
  position: relative;
  overflow: hidden;
}

header {
  height: 100vh;
  display: grid;
  position: relative;
  align-items: center;
  justify-content: center;
  grid-auto-rows: auto;
}


a {  
  font-family: Bebas-Neue;
  text-decoration: none;
  color: #000;
}

.descr {
  font-family: Bebas-Neue;
  color: #000;
  font-size: 72px;
}
