@font-face {
  font-family: Bebas-Neue;
  src: url("../fonts/BebasNeue-Regular.ttf");
}

h3 {
  font-family: Bebas-Neue;
  color: #3500d3;
}

body {
  display: grid;
  background-color: #282828;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  place-items: center;
}
form div {
  display: grid;
}

form div select,
form div input {
  justify-self: stretch;
}

.container {
  display: grid;
  padding: 3rem;
  border-radius: 10px;
  background-color: #fff;
  grid-template-columns: 1fr;
}

.fileUp {
  margin-bottom: 2rem;
}

.send {
  bottom: 0px;
  justify-self: stretch;
}

.button {
  padding: 1rem;
  border-radius: 20px;
  width: 100%;
  font-size: large;
  font-weight: bolder;
  font-family: Bebas-Neue;
  background-color: #240090;
  color: #fff;
  margin-top: 1rem;
}

.retstr {
  color: red;
  font-weight: bold;
  font-size: medium;
}
